@font-face {
  font-family: "Everett";
  src: url("./assets/fonts/TWKEverett-Regular-web.woff") format("woff");
}

* {
  /* dimensioning */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  /* scrolling */
  -ms-overflow-style: none; /* (IE and Edge) */
  scrollbar-width: none; /* (Firefox) */
}

/* scrolling (Safari) */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  /* position, dimensions */
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  overflow: hidden;
  /* styles, colours */
  color: black;
}

/* native tags */
h1 {
  /* position, dimensions */
  margin: 0;
  padding: 0;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: 2.25em;
}

a,
p,
span {
  /* position, dimensions */
  margin: 0;
  border: 0;
  padding: 0;
  /* behavioral settings */
  display: block;
  color: black;
  text-decoration: none;
  /* fonts */
  font-size: 1em;
}

a {
  cursor: pointer;
}

/* background */
#canvas {
  /* position, dimensions */
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* behavioral settings */
  z-index: -2;
  /* styles, colours */
  transform: scale(1.1);
}

#canvas-overlay {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  /* behavioral settings */
  z-index: -1;
  /* styles, colours */
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

/* content */
.container {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  /* behavioral settings */
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  z-index: 0;
}

.header {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 30px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

/* scrolling placeholder */
#logo-container {
  /* position, dimensions */
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  /* behavioral settings */
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo-container img {
  /* position, dimensions */
  width: 100%;
  height: auto;
  /* behavioral settings */
  flex-grow: 1;
}

.spacer {
  position: relative;
  /* behavioral settings */
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* fonts */
  font-size: 1em;
}

#play {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 30px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  background: black;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

.footer .marquee-content {
  /* position, dimensions */
  padding-right: 30px;
  /* behavioral settings */
  display: inline-block;
  /* styles, colours */
  color: #dfdee2;
  /* fonts */
  font: inherit;
}

/* modal */
.about-wrapper-hide {
  /* position, dimensions */
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  /* behavioral settings */
  pointer-events: none;
  /* styles, colours */
  opacity: 0%;
  /* animations */
  transition: opacity 1s ease-in-out;
}

.about-wrapper-show {
  /* position, dimensions */
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  /* animations */
  transition: opacity 1s ease-in-out;
}

#about-container {
  /* position, dimensions */
  position: absolute;
  left: 30vw;
  width: 40vw;
  height: calc(100% - 60px);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px;
  /* behavioral settings */
  display: flex;
  flex-direction: column;
  overflow: scroll;
  /* styles, colours */
  background-color: #dfdee2;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#about-close-section {
  /* position, dimensions */
  padding: 15px;
  /* behavioral settings */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* styles, colours */
  border-bottom: 1px solid black;
}

#about-content {
  /* position, dimensions */
  padding: 15px;
  /* behavioral settings */
  display: flex;
  flex-direction: column;
}

#about-title {
  /* position, dimensions */
  margin-top: 0px;
  margin-bottom: 60px;
}

.about-subtitle {
  margin-bottom: 15px;
}

#about-description {
  /* position, dimensions */
  margin-bottom: 60px;
  /* fonts */
  font-size: 1.125em;
}

#description-content {
  font-size: 1.125em;
}

.coloured-text {
  /* behavioral settings */
  display: inline-block;
  /* fonts */
  font-size: 1em;
}

#about-team {
  /* position, dimensions */
  margin-bottom: 60px;
  /* behavioral settings */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

#about-team div {
  display: inline-block;
}

#about-team p {
  /* position, dimensions */
  margin-top: 7.5px;
  /* behavioral settings */
  font-size: 0.75em;
}

#about-team img {
  /* position, dimensions */
  width: 100%;
  /* styles, colours */
  outline: 1px solid black;
}

#about-faculty {
  font-size: 1.125em;
}

#teachers {
  margin-bottom: 15px;
}

/* overlay */
#grain {
  /* position, dimensions */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  /* behavioral settings */
  pointer-events: none;
  z-index: 1;
  /* styles, colours */
  background-image: url(./assets/images/grain.gif);
  background-repeat: repeat;
  opacity: 0.6;
  mix-blend-mode: multiply;
}

/* responsiveness */
@media only screen and (max-width: 1024px) {
  /* native tags */
  a,
  p,
  span {
    font-size: 0.75em;
  }

  /* content and modal */
  .header,
  .footer,
  .about-wrapper-show,
  .about-wrapper-hide,
  #about-close-section,
  #about-content {
    padding: 10px;
  }

  /* modal */
  #about-container {
    /* position, dimensions */
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  #about-title,
  #about-description,
  #about-team {
    margin-bottom: 40px;
  }

  #about-team {
    /* behavioral settings */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  #teachers {
    margin-bottom: 10px;
  }
}
