@font-face {
  font-family: "Everett";
  src: url("./assets/fonts/TWKEverett-Regular-web.woff") format("woff");
}

* {
  /* dimensioning */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* scrolling */
  /* -ms-overflow-style: none; (IE and Edge) */
  /* scrollbar-width: none; (Firefox) */
}

/* scrolling (Chrome) */
/* ::-webkit-scrollbar {
  display: none;
} */

html,
body {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  overflow: hidden;
  /* styles, colours */
  background: #232628;
  color: white;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: large;
}

canvas {
  /* behavioral settings */
  display: block;
}

a {
  /* styles, colours */
  color: white;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: large;
  text-decoration: none;
}

button {
  /* position, dimensions */
  margin: 10px;
  padding: 5px;
  /* behavioral settings */
  cursor: pointer;
  /* styles, colours */
  background: transparent;
  color: white;
  font-size: medium;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 0.5em;
  border-color: white;
  /* mix-blend-mode: difference; */
}

h1 {
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: 8vmax;
}

p,
span {
  /* position, dimensions */
  padding: 0;
  margin: 0;
  /* fonts */
  font-size: large;
}

.section.show {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* z-index: 1; */
  /* behavioral settings */
  display: block;
  pointer-events: auto;
  /* styles, colours */
  opacity: 100%;
  background: transparent;
  color: white;
  mix-blend-mode: difference;
  /* animations */
  transition: all 1s ease-in-out;
}

.section.hide {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* z-index: -1; */
  /* behavioral settings */
  display: block;
  pointer-events: none;
  /* styles, colours */
  opacity: 0%;
  background: transparent;
  color: white;
  mix-blend-mode: difference;
  /* animations */
  transition: all 1s ease-in-out;
}

.header {
  /* position, dimensions */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 10px;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

.footer {
  /* position, dimensions */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 10px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

.container.show {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  /* styles, colours */
  opacity: 100%;
  background: transparent;
  /* mix-blend-mode: difference; */
  /* animations */
  transition: all 1s ease-in-out;
}

.container.hide {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  /* styles, colours */
  opacity: 0%;
  background: transparent;
  /* mix-blend-mode: difference; */
  /* animations */
  transition: all 1s ease-in-out;
}

.wrapper {
  /* position, dimensions */
  margin: 10%;
  padding: 5px;
  /* behavioral settings */
  display: inline;
  /* styles, colours */
  background: transparent;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 0.5em;
  border-color: white;
  /* mix-blend-mode: difference; */
}
