@font-face {
  font-family: "Everett";
  src: url("./assets/fonts/TWKEverett-Regular-web.woff") format("woff");
}

* {
  /* dimensioning */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
}

html,
body {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  overflow: hidden;
  /* styles, colours */
  background: #232628;
  color: white;
}

canvas {
  /* behavioral settings */
  display: block;
}

p,
span {
  /* position, dimensions */
  margin: 0;
  border: 0;
  padding: 0;
  /* behavioral settings */
  display: block;
}

.section.show {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  display: block;
  pointer-events: auto;
  /* styles, colours */
  opacity: 100%;
  background: transparent;
  color: white;
  /* animations */
  transition: all 1s ease-in-out;
}

.section.hide {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  display: block;
  pointer-events: none;
  /* styles, colours */
  opacity: 0%;
  background: transparent;
  color: white;
  /* animations */
  transition: all 1s ease-in-out;
}

.container.show {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  /* behavioral settings */
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  pointer-events: auto;
  /* styles, colours */
  opacity: 100%;
  background: transparent;
  /* animations */
  transition: all 1s ease-in-out;
}

.container.hide {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  /* behavioral settings */
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  pointer-events: none;
  /* styles, colours */
  opacity: 0%;
  background: transparent;
  /* animations */
  transition: all 1s ease-in-out;
}

#artwork-buffer {
  /* behavioral settings */
  display: block;
  /* styles, colours */
  opacity: 100%;
}

.header {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 40px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

.wrapper {
  /* position, dimensions */
  position: relative;
  height: 50%;
  margin: 0px;
  padding: 40px;
  /* behavioral settings */
  flex-grow: 1;
  display: block;
  /* justify-content: center; */
  /* styles, colours */
  background: transparent;
}

.question-text {
  /* fonts */
  font-size: 4em;
}

/* type 1 answer */
.answer-button-wrapper {
  /* position, dimensions */
  position: relative;
  width: 100%;
  height: 50%;
  padding: 40px;
  /* behavioral settings */
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
}

/* to do: remove */
.answer-button-wrapper .answer-button {
  /* position, dimensions */
  margin: 0px;
  padding: 20px;
  width: 100%;
  height: 50%;
  /* behavioral settings */
  cursor: pointer;
  text-align: center;
  /* styles, colours */
  background: transparent;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  /* fonts */
  font-size: 4em;
}

/* to do: remove */
.answer-button-wrapper .answer-button:hover {
  /* styles, colours */
  background: white;
  color: #232628;
}

.answer-button-wrapper input[type="radio"] {
  /* position, dimensions */
  position: fixed;
  width: 0;
  /* styles, colours */
  opacity: 0;
}

.answer-button-wrapper label {
  /* position, dimensions */
  margin: 0px;
  padding: 20px;
  width: 100%;
  height: 50%;
  /* behavioral settings */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  background: transparent;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  /* fonts */
  font-size: 4em;
}

.answer-button-wrapper input[type="radio"]:checked + label {
  /* styles, colours */
  background: white;
  color: #232628;
}

.answer-button-wrapper input[type="radio"]:focus + label {
  /* styles, colours */
  background: white;
  color: #232628;
}

.answer-button-wrapper label:hover {
  /* styles, colours */
  background: white;
  color: #232628;
}

/* type 2 answer */
.answer-range-wrapper {
  /* position, dimensions */
  position: relative;
  width: 100%;
  height: 50%;
  padding: 20px;
  /* behavioral settings */
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.answer-range-wrapper .mobile-range-label-wrapper {
  /* position, dimensions */
  position: relative;
  width: 100%;
  /* height: 50%; */
  padding: 0px;
  /* behavioral settings */
  display: none;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}

.answer-range-wrapper label {
  /* position, dimensions */
  margin: 0px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  /* styles, colours */
  display: flex;
  align-items: center;
  justify-content: center;
  /* behavioral settings */
  cursor: pointer;
  /* styles, colours */
  background: transparent;
  color: #4e5152;
  /* fonts */
  font-size: 4em;
}

.answer-range-wrapper input[type="range"] {
  /* other */
  all: unset;
  /* position, dimensions */
  position: relative;
  width: 50%;
  height: 25%;
}

.answer-range-wrapper input[type="range"]::-webkit-slider-runnable-track {
  /* position, dimensions */
  width: 100%;
  height: 1px;
  /* styles, colours */
  background: white;
  border: none;
}

.answer-range-wrapper input[type="range"]::-webkit-slider-thumb {
  /* other */
  -webkit-appearance: none;
  /* position, dimensions */
  margin-top: -1em;
  width: 2em;
  height: 2em;
  /* behavioral settings */
  cursor: pointer;
  /* styles, colours */
  background: white;
  border: none;
  border-radius: 50%;
}

.answer-range-wrapper input[type="range"]:focus {
  /* behavioral settings */
  outline: none;
}

.answer-range-wrapper input[type="range"]:focus::-webkit-slider-runnable-track {
  /* styles, colours */
  background: #4e5152;
}

input[type="range"]::-moz-range-track {
  /* position, dimensions */
  width: 100%;
  height: 1px;
  /* styles, colours */
  background: white;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  /* position, dimensions */
  width: 2em;
  height: 2em;
  /* behavioral settings */
  cursor: pointer;
  /* styles, colours */
  background: white;
  border: none;
  border-radius: 50%;
}

/* hide the outline behind the border */
input[type="range"]:-moz-focusring {
  /* behavioral settings */
  /* outline: 1px solid white;
  outline-offset: -1px; */
  outline: none;
}

input[type="range"]:focus::-moz-range-track {
  /* styles, colours */
  background: #4e5152;
}

/* type 3 answer */
.answer-text {
  /* position, dimensions */
  width: 100%;
  height: 50%;
  margin: 0px;
  padding: 20px;
  /* behavioral settings */
  resize: none;
  overflow: auto;
  outline: none;
  /* styles, colours */
  background: transparent;
  color: white;
  border: solid white 1px;
  /* fonts */
  text-decoration: none;
  font-size: 4em;
}

.answer-text::placeholder {
  /* styles, colours */
  color: #4e5152;
}

#artwork-snapshot {
  /* position, dimensions */
  position: relative;
  margin: auto;
  width: auto;
  height: 100%;
  /* behavioral settings */
  display: block;
}

.footer {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

.next-button {
  /* position, dimensions */
  margin: 0;
  padding: 0;
  width: auto;
  /* behavioral settings */
  cursor: pointer;
  text-align: center;
  /* styles, colours */
  background: transparent;
  color: white;
  border: none;
  /* fonts */
  font-size: 2em;
}

.next-button:hover {
  /* styles, colours */
  color: #4e5152;
  /* mix-blend-mode: difference; */
}

.next-button:focus {
  /* styles, colours */
  outline: none;
  color: #4e5152;
  /* mix-blend-mode: difference; */
}

/* responsiveness */
@media only screen and (max-width: 540px) {
  /* general layout */
  .header,
  .wrapper {
    padding: 20px;
  }
  .answer-button-wrapper {
    padding: 20px;
    grid-column-gap: 20px;
  }
  .answer-button-wrapper .answer-button,
  .answer-button-wrapper label {
    padding: 10px;
  }
  .answer-text {
    padding: 10px;
  }
  .footer {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* fonts */
  .question-text,
  .answer-button,
  .answer-button-wrapper label,
  .answer-range-wrapper .mobile-range-label,
  .answer-text {
    font-size: 1.5em;
  }
  .next-button {
    font-size: 0.75em;
  }
  /* behaviour */
  .answer-range-wrapper {
    padding: 10px;
    height: 50%;
    flex-direction: column;
    gap: 10px;
  }
  .answer-range-wrapper .mobile-range-label-wrapper {
    display: flex;
  }
  .answer-range-wrapper .desktop-range-label {
    display: none;
  }
  .answer-range-wrapper input[type="range"] {
    width: 100%;
    height: 2em;
    /* margin-top: 0.375em; */
  }
  #artwork-snapshot {
    width: 100%;
    height: auto;
  }
}

/* some mobile browsers stretch the viewport when using the keyboard */
@media only screen and (max-height: 360px) {
  .answer-text {
    height: 100%;
  }
}

/* tablets */
@media only screen and (min-width: 541px) and (max-width: 1024px) {
  /* behaviour */
  .answer-range-wrapper {
    height: 50%;
    flex-direction: column;
  }
  .answer-range-wrapper .mobile-range-label-wrapper {
    display: flex;
  }
  .answer-range-wrapper .desktop-range-label {
    display: none;
  }
  .answer-range-wrapper input[type="range"] {
    width: 100%;
    height: 4em;
    /* margin-top: 0.75em; */
  }
  .answer-range-wrapper input[type="range"]::-webkit-slider-thumb {
    /* position, dimensions */
    margin-top: -2em;
    width: 4em;
    height: 4em;
  }
  .answer-range-wrapper input[type="range"]::-moz-range-thumb {
    /* position, dimensions */
    margin-top: -2em;
    width: 4em;
    height: 4em;
  }
  #artwork-snapshot {
    width: 100%;
    height: auto;
  }
}
