@font-face {
  font-family: "Everett";
  src: url("./assets/fonts/TWKEverett-Regular-web.woff") format("woff");
}

* {
  /* dimensioning */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  overflow: hidden;
  /* styles, colours */
  background: #232628;
  color: white;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: large;
}

hr {
  display: block;
  margin: 0px;
  border: 0;
  border-top: 1px solid white;
}

canvas {
  /* behavioral settings */
  display: block;
}

a,
button {
  /* position, dimensions */
  margin: 0px;
  padding: 10px;
  /* behavioral settings */
  cursor: pointer;
  text-align: center;
  /* styles, colours */
  background: transparent;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  border-color: white;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: large;
  text-decoration: none;
}

h1 {
  /* position, dimensions */
  padding: 0;
  margin: 0;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: 8vmax;
}

p,
span {
  /* position, dimensions */
  padding: 0;
  margin: 0;
  /* fonts */
  font-size: large;
}

textarea {
  width: 100%;
  height: 100%;
  margin: 0px;
  background: transparent;
  resize: none;
  /* styles, colours */
  background: transparent;
  color: white;
  border: none;
  overflow: auto;
  outline: none;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: large;
  text-decoration: none;
}

.section.show {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  display: block;
  pointer-events: auto;
  /* styles, colours */
  opacity: 100%;
  background: transparent;
  color: white;
  /* animations */
  transition: all 1s ease-in-out;
}

.section.hide {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  display: block;
  pointer-events: none;
  /* styles, colours */
  opacity: 0%;
  background: transparent;
  color: white;
  /* animations */
  transition: all 1s ease-in-out;
}

.container.show {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  /* behavioral settings */
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  pointer-events: auto;
  /* styles, colours */
  opacity: 100%;
  background: transparent;
  /* animations */
  transition: all 1s ease-in-out;
}

.container.hide {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  /* behavioral settings */
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  pointer-events: none;
  /* styles, colours */
  opacity: 0%;
  background: transparent;
  /* animations */
  transition: all 1s ease-in-out;
}

.header {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 20px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

.wrapper {
  /* position, dimensions */
  position: relative;
  height: 50%;
  margin: 0px;
  padding: 20px;
  /* behavioral settings */
  display: block;
  justify-content: center;
  flex-grow: 1;
  /* styles, colours */
  background: transparent;
}

#artwork-snapshot {
  position: relative;
  display: block;
  margin: auto;
  width: auto;
  height: 100%;
}

.footer {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 20px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

/* responsiveness */
@media only screen and (max-width: 480px) {
  .next-question,
  .save-artwork {
    width: 100%;
  }
  #artwork-snapshot {
    height: auto;
    width: 100%;
  }
}

/* @media only screen and (min-width: 481px) and (max-width: 1024px) {

} */
