@font-face {
  font-family: "Everett";
  src: url("../assets/fonts/TWKEverett-Regular-web.woff") format("woff");
}

* {
  /* dimensioning */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  /* scrolling */
  -ms-overflow-style: none; /* (IE and Edge) */
  scrollbar-width: none; /* (Firefox) */
}

/* scrolling (Chrome) */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  overflow: hidden;
  /* styles, colours */
  background: #dfdee2;
  color: black;
}

a,
p,
marquee,
span {
  /* position, dimensions */
  margin: 0;
  border: 0;
  padding: 0;
  /* behavioral settings */
  display: block;
  color: black;
  text-decoration: none;
  /* fonts */
  font-size: 1em;
}

marquee {
  background-color: black;
  color: #dfdee2;
  padding: 30px;
}

.container {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  /* behavioral settings */
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
}

.header {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 30px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

.vertical-scroll-wrapper {
  /* position, dimensions */
  position: relative;
  height: fit-content;
  overflow: scroll;
  margin: 0px;
  /* behavioral settings */
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  /* styles, colours */
  background: #dfdee2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.vertical-scroll-wrapper .image-container {
  display: block;
  height: 100%;
  width: 100%;
  background: #dfdee2;
  outline: 1px solid black;
}

.artwork-snapshot {
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  /* position, dimensions */
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  /* styles, colours */
  background: transparent;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
  font-size: medium;
}

#grain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-repeat: repeat;
  mix-blend-mode: multiply;
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
  background-image: url(../assets/images/grain.gif);
  z-index: 100;
}

/* responsiveness */
@media only screen and (max-width: 1024px) {
  .vertical-scroll-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  a,
  marquee,
  p,
  span {
    font-size: 0.75em;
  }
  .header {
    padding: 10px;
  }
  .footer {
    padding: 0px;
  }
  marquee {
    padding: 10px;
  }
}
