@font-face {
  font-family: "Everett";
  src: url("../assets/fonts/TWKEverett-Regular-web.woff") format("woff");
}

* {
  /* dimensioning */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* fonts */
  font-family: "Everett", sans-serif;
  font-weight: normal;
}

html,
body {
  /* position, dimensions */
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  overflow-y: hidden;
  overflow-x: auto;
  /* styles, colours */
  background: #dfdee2;
  color: black;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  align-content: flex-start;
  grid-gap: 1px;
  background: black;
  border: 1px solid black;
}

.horizontal-scroll-wrapper .image-container {
  display: block;
  height: calc(25vh - 2px);
  width: calc(25vh - 2px);
  align-self: flex-start;
  background: #dfdee2;
}

div::-webkit-scrollbar {
  display: none;
}

.artwork-snapshot {
  width: 100%;
  height: 100%;
}
